.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.feature {
  //display: flex;
  justify-content: center;
  margin-left: -30px;

  @media screen and (min-width: 480px) {
    margin-bottom: -30px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
  }
  &__item {
    @media screen and (min-width: 480px) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 30px);
      margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 4 - 30px);
      margin-bottom: 0;
    }
    margin-left: 30px;
  }

  &__icons {
    display: flex;

    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: $iconsColor;
    border-radius: 4px;

    padding: 25px 100px;
    margin-bottom: 30px;
    margin-bottom: 30px;
  }
  &__title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;

    text-transform: uppercase;
    color: $primaryTextColor;

    text-align: center;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: $foregroundColor;
  }
}
