$primaryTextColor: #212121;
$foregroundColor: #757575;
$primaryColor: #ffffff;
$accentColor: #2196f2;
$titleColor: #000000;
$backgroundColor: rgba(255, 255, 255, 0.6);
$iconColor: #afb1b8;
$pimaryFooColor: #2f303a;
$primaryBoColor: #eeeeee;
$iconsColor: #f5f4fa;
$primaryBtncolor: #2196f3;
$primarySamCalor: #188ce8;
$headerBorColor: #ececec;
$clientColor: rgba(175, 177, 184, 1);
